# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [77]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [78]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [79]:
sinasc_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27028 entries, 0 to 27027
Data columns (total 69 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ORIGEM        27028 non-null  int64
 1   CODESTAB      26913 non-null  float64
 2   CODMUNNASC    27028 non-null  int64
 3   LOCNASC       27028 non-null  int64
 4   IDADEMAE      27028 non-null  int64
 5   ESTCIVMAE     26711 non-null  float64
 6   ESCMAE        26716 non-null  object
 7   CODOCUPMAE    24121 non-null  float64
 8   QTDFILVIVO    25455 non-null  float64
 9   QTDFILMORT    24930 non-null  float64
 10  CODMUNRES     27028 non-null  int64
 11  GESTACAO      25796 non-null  object
 12  GRAVIDEZ      26949 non-null  object
 13  PARTO         26979 non-null  object
 14  CONSULTAS     27028 non-null  int64
 15  DTNASC        27028 non-null  object
 16  HORANASC      27007 non-null  float64
 17  SEXO          27024 non-null  object
 18  APGAR1        26932 non-null  float64
 19  APGAR5        26925 non-null  float64
 20  RACACOR       26381 non-null  object
 21  PESO          27028 non-null  int64
 22  IDANOMAL      26437 non-null  float64
 23  DTCADASTRO    27028 non-null  object
 24  CODANOMAL     214 non-null    object
 25  NUMEROLOTE    27028 non-null  int64
 26  VERSAOSIST    27028 non-null  object
 27  DTRECEBIM     27028 non-null  object
 28  DIFDATA       27028 non-null  int64
 29  DTRECORIGA    0 non-null      float64
 30  NATURALMAE    26730 non-null  float64
 31  CODMUNNATU    26730 non-null  float64
 32  CODUFNATU     26730 non-null  float64
 33  ESCMAE2010    26779 non-null  float64
 34  SERIESCMAE    14318 non-null  float64
 35  DTNASCMAE     26988 non-null  float64
 36  RACACORMAE    26367 non-null  float64
 37  QTDGESTANT    25816 non-null  float64
 38  QTDPARTNOR    25149 non-null  float64
 39  QTDPARTCES    25237 non-null  float64
 40  IDADEPAI      7607 non-null   float64
 41  DTULTMENST    16956 non-null  float64
 42  SEMAGESTAC    25790 non-null  float64
 43  TPMETESTIM    25790 non-null  float64
 44  CONSPRENAT    26098 non-null  float64
 45  MESPRENAT     24161 non-null  float64
 46  TPAPRESENT    26763 non-null  float64
 47  STTRABPART    26081 non-null  float64
 48  STCESPARTO    26281 non-null  float64
 49  TPNASCASSI    26967 non-null  float64
 50  TPFUNCRESP    26961 non-null  float64
 51  TPDOCRESP     27014 non-null  float64
 52  DTDECLARAC    26976 non-null  float64
 53  ESCMAEAGR1    26779 non-null  float64
 54  STDNEPIDEM    27028 non-null  int64
 55  STDNNOVA      27028 non-null  int64
 56  CODPAISRES    27028 non-null  int64
 57  TPROBSON      27028 non-null  int64
 58  PARIDADE      27028 non-null  int64
 59  KOTELCHUCK    27028 non-null  int64
 60  CONTADOR      27028 non-null  int64
 61  munResStatus  27028 non-null  object
 62  munResTipo    27028 non-null  object
 63  munResNome    27028 non-null  object
 64  munResUf      27028 non-null  object
 65  munResLat     27027 non-null  float64
 66  munResLon     27027 non-null  float64
 67  munResAlt     27027 non-null  float64
 68  munResArea    27027 non-null  float64
dtypes: float64(38), int64(16), object(15)
memory usage: 14.2+ MB

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [80]:
round(sinasc_raw.groupby('munResNome')[['IDADEMAE', 'IDADEPAI']].mean())

                           IDADEMAE  IDADEPAI
munResNome
Alta Floresta D'Oeste          26.0      30.0
Alto Alegre dos Parecis        25.0      29.0
Alto Paraíso                   25.0      29.0
Alvorada D'Oeste               26.0      31.0
Ariquemes                      26.0      32.0
Buritis                        26.0      31.0
Cabixi                         26.0      34.0
Cacaulândia                    26.0      36.0
Cacoal                         27.0      31.0
Campo Novo de Rondônia         25.0      30.0
Candeias do Jamari             25.0      30.0
Castanheiras                   27.0      30.0
Cerejeiras                     27.0      32.0
Chupinguaia                    25.0      30.0
Colorado do Oeste              28.0      34.0
Corumbiara                     25.0      32.0
Costa Marques                  24.0      31.0
Cujubim                        24.0      31.0
Espigão D'Oeste                26.0      31.0
Governador Jorge Teixeira      24.0      29.0
Guajará-Mirim                  25.0      30.0
Itapuã do Oeste                26.0      42.0
Jaru                           26.0      32.0
Ji-Paraná                      26.0      31.0
Machadinho D'Oeste             25.0      31.0
Ministro Andreazza             28.0      34.0
Mirante da Serra               26.0      32.0
Monte Negro                    26.0      35.0
Município ignorado - RO        24.0      22.0
Nova Brasilândia D'Oeste       26.0      31.0
Nova Mamoré                    25.0      32.0
Nova União                     27.0      31.0
Novo Horizonte do Oeste        27.0      32.0
Ouro Preto do Oeste            26.0      31.0
Parecis                        26.0      32.0
Pimenta Bueno                  25.0      30.0
Pimenteiras do Oeste           25.0      36.0
Porto Velho                    26.0      32.0
Presidente Médici              26.0      30.0
Primavera de Rondônia          27.0      32.0
Rio Crespo                     27.0      28.0
Rolim de Moura                 27.0      30.0
Santa Luzia D'Oeste            26.0      31.0
Seringueiras                   25.0      30.0
São Felipe D'Oeste             26.0      31.0
São Francisco do Guaporé       26.0      32.0
São Miguel do Guaporé          26.0      33.0
Teixeirópolis                  26.0      32.0
Theobroma                      26.0      30.0
Urupá                          27.0      31.0
Vale do Anari                  26.0      34.0
Vale do Paraíso                26.0      30.0
Vilhena                        26.0      34.0

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [81]:
df_peso_medio = sinasc_raw[['ESCMAE', 'DTNASC', 'SEXO', 'PESO']]

In [82]:
df_peso_medio.head()

            ESCMAE      DTNASC       SEXO  PESO
0      8 a 11 anos  2019-02-19  Masculino  3685
1      8 a 11 anos  2019-02-21   Feminino  3055
2      8 a 11 anos  2019-02-25   Feminino  3460
3  12 anos ou mais  2019-03-20   Feminino  2982
4      8 a 11 anos  2019-03-23   Feminino  3310

In [83]:
df_peso_medio = df_peso_medio.groupby(['ESCMAE', 'DTNASC', 'SEXO']).mean()

In [84]:
round(df_peso_medio.sample(15))

                                        PESO
ESCMAE          DTNASC     SEXO
4 a 7 anos      2019-12-17 Feminino   2500.0
12 anos ou mais 2019-06-02 Masculino  3822.0
                2019-08-20 Feminino   3110.0
                2019-05-19 Masculino  3850.0
8 a 11 anos     2019-03-24 Feminino   3243.0
                2019-07-11 Masculino  3406.0
                2019-01-05 Feminino   3408.0
4 a 7 anos      2019-09-05 Feminino   3064.0
12 anos ou mais 2019-01-12 Masculino  3243.0
4 a 7 anos      2019-10-11 Feminino   3190.0
12 anos ou mais 2019-01-20 Feminino   2724.0
                2019-10-14 Feminino   3174.0
4 a 7 anos      2019-08-22 Masculino  3528.0
8 a 11 anos     2019-01-16 Masculino  3472.0
1 a 3 anos      2019-06-19 Masculino  1925.0

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [85]:
df_min_bebe = sinasc_raw[['munResNome', 'DTNASC', 'QTDFILVIVO', 'IDADEMAE', 'IDADEPAI']]

In [86]:
df_min_bebe = df_min_bebe.loc[df_min_bebe['QTDFILVIVO'] > 0]

In [87]:
df_min_bebe = df_min_bebe.groupby(['QTDFILVIVO', 'munResNome']).agg({'IDADEMAE': ['min', 'max', 'mean'],
                                       'IDADEPAI': ['min', 'max', 'mean']})

* Como podemos ver, alguns municípios tiveram apenas 1 nascimento

In [88]:
round(df_min_bebe)

                                   IDADEMAE           IDADEPAI
                                        min max  mean      min   max  mean
QTDFILVIVO munResNome
1.0        Alta Floresta D'Oeste         17  46  27.0     18.0  50.0  31.0
           Alto Alegre dos Parecis       16  38  26.0     19.0  46.0  31.0
           Alto Paraíso                  16  41  26.0     24.0  29.0  26.0
           Alvorada D'Oeste              16  37  26.0     18.0  52.0  32.0
           Ariquemes                     14  44  27.0     29.0  46.0  38.0
...                                     ...  ..   ...      ...   ...   ...
11.0       Guajará-Mirim                 42  42  42.0      NaN   NaN   NaN
12.0       Espigão D'Oeste               40  40  40.0     43.0  43.0  43.0
           Porto Velho                   42  44  43.0      NaN   NaN   NaN
14.0       Costa Marques                 39  39  39.0     43.0  43.0  43.0
30.0       Santa Luzia D'Oeste           24  24  24.0     25.0  25.0  25.0

[306 rows x 6 columns]

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios x é maior que y.

In [89]:
sinasc_raw.dtypes

ORIGEM          int64
CODESTAB      float64
CODMUNNASC      int64
LOCNASC         int64
IDADEMAE        int64
               ...
munResUf       object
munResLat     float64
munResLon     float64
munResAlt     float64
munResArea    float64
Length: 69, dtype: object

In [90]:
sinasc_raw.select_dtypes(exclude=['int64','float64'])

,ESCMAE,GESTACAO,GRAVIDEZ,PARTO,DTNASC,SEXO,RACACOR,DTCADASTRO,CODANOMAL,VERSAOSIST,DTRECEBIM,munResStatus,munResTipo,munResNome,munResUf
0,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-19,Masculino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
1,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-21,Feminino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
2,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-25,Feminino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
3,12 anos ou mais,37 a 41 semanas,Única,Cesáreo,2019-03-20,Feminino,Parda,2019-04-03,NaN,3.2.01,2019-04-09,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia
4,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-03-23,Feminino,Parda,2019-04-03,NaN,3.2.01,2019-04-09,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27023,12 anos ou mais,32 a 36 semanas,Única,Cesáreo,2019-12-13,Masculino,Branca,2020-09-28,NaN,3.2.01,2020-10-13,ATIVO,MUNIC,Vilhena,Rondônia
27024,8 a 11 anos,37 a 41 semanas,Única,Vaginal,2019-10-04,Masculino,Branca,2019-10-16,NaN,3.2.01,2019-10-21,ATIVO,MUNIC,Chupinguaia,Rondônia
27025,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-08-02,Masculino,Parda,2019-08-07,NaN,3.2.00,2019-08-07,ATIVO,MUNIC,Vilhena,Rondônia
27026,8 a 11 anos,32 a 36 semanas,Única,Vaginal,2019-12-23,Masculino,Parda,2020-01-07,NaN,3.2.00,2020-01-07,ATIVO,MUNIC,Vilhena,Rondônia
27027,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-12-27,Masculino,Parda,2020-10-15,NaN,3.2.01,2020-10-16,ATIVO,MUNIC,Novo Horizonte do Oeste,Rondônia

In [91]:
df_mais_bebes_marco = sinasc_raw[['DTNASC', 'munResNome', 'QTDFILVIVO', 'IDADEPAI', 'IDADEMAE']]

In [92]:
df_mais_bebes_marco = df_mais_bebes_marco.loc[df_mais_bebes_marco['DTNASC'].str.startswith("2019-03")]

In [93]:
df_mais_bebes_marco

           DTNASC               munResNome  QTDFILVIVO  IDADEPAI  IDADEMAE
3      2019-03-20  Alto Alegre dos Parecis         0.0      24.0        30
4      2019-03-23    Alta Floresta D'Oeste         1.0      27.0        30
5      2019-03-27    Alta Floresta D'Oeste         2.0      40.0        33
9      2019-03-11    Alta Floresta D'Oeste         1.0      41.0        30
10     2019-03-11    Alta Floresta D'Oeste         1.0      28.0        31
...           ...                      ...         ...       ...       ...
13670  2019-03-21              Porto Velho         0.0       NaN        24
13671  2019-03-22              Porto Velho         2.0       NaN        24
13736  2019-03-07              Porto Velho         1.0      42.0        35
13748  2019-03-30                  Vilhena         2.0       NaN        36
13750  2019-03-09                Ji-Paraná         0.0      50.0        31

[2456 rows x 5 columns]

* Município que nasceu mais bebês em Março foi Porto Velho

In [94]:
df_mais_bebes_marco['munResNome'].value_counts()

Porto Velho                  744
Ji-Paraná                    188
Vilhena                      148
Ariquemes                    141
Cacoal                       133
Jaru                          80
Guajará-Mirim                 75
Rolim de Moura                69
Ouro Preto do Oeste           67
Pimenta Bueno                 62
Buritis                       59
Nova Mamoré                   53
Machadinho D'Oeste            44
Espigão D'Oeste               44
São Miguel do Guaporé         41
Candeias do Jamari            33
São Francisco do Guaporé      31
Alta Floresta D'Oeste         31
Presidente Médici             29
Costa Marques                 24
Alto Paraíso                  22
Alvorada D'Oeste              22
Monte Negro                   20
Nova Brasilândia D'Oeste      20
Seringueiras                  19
Colorado do Oeste             19
Chupinguaia                   18
Cujubim                       17
Cerejeiras                    16
Urupá                         14
Vale do Paraíso               13
Campo Novo de Rondônia        13
Corumbiara                    12
Vale do Anari                 11
Governador Jorge Teixeira     10
Alto Alegre dos Parecis       10
Cacaulândia                   10
Mirante da Serra               9
Rio Crespo                     9
Theobroma                      8
Itapuã do Oeste                8
Santa Luzia D'Oeste            7
Nova União                     7
Pimenteiras do Oeste           6
Cabixi                         6
Parecis                        6
Ministro Andreazza             6
Primavera de Rondônia          5
Novo Horizonte do Oeste        5
São Felipe D'Oeste             5
Castanheiras                   4
Teixeirópolis                  3
Name: munResNome, dtype: int64

* quantidade de filhos vivos media, maxima, minima

In [95]:
df_municipio = df_mais_bebes_marco.loc[df_mais_bebes_marco['munResNome'] == 'Porto Velho']

In [96]:
df_municipio.head()

          DTNASC   munResNome  QTDFILVIVO  IDADEPAI  IDADEMAE
612   2019-03-09  Porto Velho         0.0       NaN        19
700   2019-03-28  Porto Velho         1.0       NaN        19
3232  2019-03-11  Porto Velho         0.0       NaN        34
3238  2019-03-13  Porto Velho         1.0       NaN        24
6818  2019-03-01  Porto Velho         2.0      41.0        38

In [97]:
print('Quantidade de filhos vivos em Porto Velho: ')
df_municipio['QTDFILVIVO'].value_counts().sum()

Quantidade de filhos vivos em Porto Velho:

627

In [98]:
print('Mínima, máxima e média: ')
round(df_municipio.groupby('munResNome').agg({'QTDFILVIVO':['min', 'max', 'mean']}))

Mínima, máxima e média:

            QTDFILVIVO
                   min  max mean
munResNome
Porto Velho        0.0  9.0  1.0